
IntelligentMatcher/.vs/IntelligentMatcher/v16/.suo
IntelligentMatcher/.vs/IntelligentMatcher/v16/.suo
IntelligentMatcher/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
*.props
*.targets
*.cache
*.cache
*.props
*.json
*.cache
