/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.btn-group {
    width: 100%;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#add-user-button {
    margin-bottom: 1%;
}
.pressed-color{
    background-color: grey;
    
}

.row-highlight {
    background-color: lightgrey;
}

#three-dot-button-box {
    border: none;
    background-color: transparent;
    position: relative;
    left: 30%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    outline: none;
}



.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#table-shadow {
    box-shadow: 5px 5px 8px 3px #888888;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Dropdown Menu Styles
--------------------------------------------------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.useractioncontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 4px 0px;
    min-width: 200px;
    z-index: 1;
}


.useractioncontent a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

.useractioncontent a:hover {
    background-color: #bcbcbc;
}

.dropdown:hover .useractioncontent {
    display: block;
}

/*Search Styles
------------------------------------------------ */

.search {
    float: left;
}

.adduser {
    float: right;
}