@{
    ViewData["Title"] = "Add User";
}
<h1>@ViewData["Title"]</h1>

<p>Username: </p>
<input type="text" />
<p>Password: </p>
<input type="text" />
<p>First Name: </p>
<input type="text" />
<p>Last Name: </p>
<input type="text" />
<p>Date of Birth: </p>
<input type="text" />
<p>Account Type: </p>
<input type="text" />
<p>E-mail: </p>
<input type="text" />
<br />
<div class="search">
    <input type="submit" />
</div>
<div class="adduser">
    <a asp-area="" asp-controller="UserHome" asp-action="Index">Go Back</a>
</div>
