@{
    ViewData["Title"] = "User Information";
}
<h1>@ViewData["Title"]</h1>

<p>User ID: </p>
<p>Username: </p>
<p>First Name: </p>
<p>Last Name: </p>
<p>E-mail: </p>
<p>Creation Date: </p>
<p>Date of Birth: </p>
<p>Account Type: </p>
<p>Account Status: </p>
<div class="search">
    <button>Disable/Enable</button>
</div>
<div class="adduser">
    <a asp-area="" asp-controller="UserHome" asp-action="Index">Go Back</a>
</div>
