.userHeader {
    background-color: black;
}

.userRow {
    background-color: lightgray;
    border-width: 10px;
    border-style: solid;

    color: black;
}

.container__table {
    height: 500px;
    overflow-y: scroll;
}
